<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="SourceSiteUrl" value="https://crisp2.innova.com/test/" />
    <add key="DestinationSiteUrl" value="https://magnusvistatech.sharepoint.com/sites/test/" />
    <add key="SourceUserName" value="administrator" />
    <add key="SourcePassword" value="Admin123$" />
    <add key="DestinationUserName" value="admin@magnusvistatech.onmicrosoft.com" />
    <add key="DestinationPassword" value="Qwerty123$" />
    <add key="SourceLibrary" value="Documents"/>
    <add key="DestinationLibrary" value="Documents" />
  </appSettings>
</configuration>